body{
padding:0;
margin:0;
font-family:微软雅黑;
}
.glighter_table{
	font-size:14px;
	padding:0px;
	background:#F7F7F7;
	border:0;
	border-collapse:collapse;
}
.glighter_string{
	color:#F18900;
}
.glighter_number{
	color:#CC3366;
}
.glighter_common_tag{
	/*color:#204792;*/
	color:#63A35C;
}
.glighter_property{
	color:#204792;
}
.glighter_td_index{
	background:#E8E8FF;
	padding:3px 8px;
	text-align:right;
	color:#AAA;
	border:0;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
	vertical-align:top;
}

.glighter_td_code{
	padding:3px 8px;
	word-break:break-all;
	vertical-align:top;
}
.glighter_comment{
	padding:0;
	margin:0;
	display:inline-black;
	color:#A2A2A2;
}
.glighter_space1{
	display:inline-block;
	width:10px;
}
.glighter_space4{
	display:inline-block;
	width:40px;
}
.glighter_function{
	color:#0086B3;
}